Repository hmcts/cpo-case-payment-orders-api, pull requests merged in 2021-04, with the labels that each got.

#39 CPO-21 Remove Case Type ID
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrder.java
  src/main/resources/db/migration/V20210331_21__CPO-21-RemoveCaseTypeId.sql
  src/test/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapperTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-39

#42 caseTypeId removed
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrderQueryFilter.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/IdsValidator.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-42

#29 CPO-16 - Use Hibernate Envers library for auditing table
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/CasePaymentOrdersQueryException.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrderQueryFilter.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20210322_16__CPO-16-CasePaymentOrdersAUD.sql
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-29

#50 Common exception changes
  .gitignore
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/main/java/uk/gov/hmcts/reform/cpo/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrder.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/ApiException.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/CaseIdOrderReferenceUniqueConstraintException.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/CasePaymentOrderCouldNotBeFoundException.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/UpdateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/AuthError.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersService.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/CaseIdValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/IdValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/IdsValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/Validator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/annotation/ValidCaseId.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/annotation/ValidCpoId.java
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/CaseIdTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/ValidatorTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-50

#49 CPO-22 CreatePaymentOrder Error handling
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/resources/wiremock-stubs/idam/user_info.json
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/IdAMIdCannotBeRetrievedException.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/CreateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersService.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapper.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapperTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-49

#56 Swagger updates
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/CreateCasePaymentOrderRequest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-56

#59 common FTA files
  src/functionalTest/java/uk/gov/hmcts/reform/cpo/befta/CaseIdGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/cpo/befta/CasePaymentOrdersTestAutomationAdapter.java
  src/functionalTest/resources/features/common/Base_CPO_Payload_Data.td.json
  src/functionalTest/resources/features/common/BeftaCaseworker1.td.json
  src/functionalTest/resources/features/common/Prerequisite_Create_CPO.td.json
  src/functionalTest/resources/features/common/Prerequisite_Create_CPO_2.td.json
  src/functionalTest/resources/features/common/endpoint/CreateCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/DeleteCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/GetCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/UpdateCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_created.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_not_created.td.json
  src/functionalTest/resources/features/common/response/400_Response.td.json
  src/functionalTest/resources/features/common/response/Base_CPO_GET_Response_Data.td.json
  src/functionalTest/resources/features/common/response/Base_CPO_Response_Data.td.json
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-59

#35 CPO-8 - DeletePaymentOrders Endpoint
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/cpo/befta/CasePaymentOrdersBeftaRunner.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/RevInfo.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/RevInfoRepository.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderEntityGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/UIDService.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderAuditEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditJpaRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersJpaCaseIdRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersJpaRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersService.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsValidator.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20210329_16__CPO-16-CasePaymentOrdersAUD.sql
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdsValidatorTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-35

#62 RDM 12140 - Suppress CVE
  config/owasp/suppressions.xml
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-62

#41 CPO-7: Build GetPaymentOrders endpoint
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdsTest.java
Labels: stale

#63 CPO-31 - override post delete listener to do nothing on entity delete
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/main/java/uk/gov/hmcts/reform/cpo/config/EnversDeleteEventListenerImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/config/HibernateEventListenerRegistryConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-63

#65 RDM-12139 CVE-2021-29425 - bump up dependencies to resolve CVE
  build.gradle
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-65

#48 CPO-6: Build UpdatePaymentOrder endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrderAuditRevision.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderAuditUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderEntityGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/UIDService.java
  src/integrationTest/resources/wiremock-stubs/idam/user_info.json
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/BaseCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/CreateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/UpdateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersService.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapper.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/Validator.java
  src/main/resources/db/migration/V20210413_6__CPO-6-UpdateCasePaymentOrders.sql
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerGetTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrderQueryFilterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplGetTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/CaseIdsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdsTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-48

#67 CCD-808 Upgrade Base Chart Versions (Java & Nodejs)
  charts/cpo-case-payment-orders-api/Chart.yaml
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-67

#70 Jenkins befta env cleanup and redirect_uri fix
  Jenkinsfile_CNP
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-70

#72 CPO-10 - Fix befta variable assignment issues
  Jenkinsfile_CNP
  cpo-docker/bin/env_variables_all.txt
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-72

#69 CPO-19 Implement Log and Audit of CRUD operations
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/main/java/uk/gov/hmcts/reform/cpo/Application.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/LoggerAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/aop/AuditContextHolder.java
  src/main/java/uk/gov/hmcts/reform/cpo/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/cpo/config/AuditConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrder.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/HttpError.java
  src/main/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrderQueryFilter.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/Validator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/LoggerAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/exception/HttpErrorTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/exception/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrderQueryFilterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/validators/IdsValidatorTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-69

#66 CPO 32 Add historyExists field
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderEntityGenerator.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrder.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapper.java
  src/main/resources/db/migration/V20210423_32__CPO-32-AddHistoryExistsField.sql
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapperTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-66
