Repository hmcts/cpo-case-payment-orders-api, pull requests merged in 2021-05, with the labels that each got.

#31 RDM-9765
  build.gradle
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-31

#71 CPO Endpoints FTAs
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/cpo/befta/CaseIdGenerator.java
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/F-701.feature
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.1.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.2.2.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.2.4.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.2.5.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.2.6.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.2_Base.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.3.1.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.4.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/F-702.feature
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.1.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.2.2.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.2.3.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.2.5.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.2.6.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.3.1.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.4.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.4_CP1_CP2_not_updated.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.5.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702_Base.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/F-703.feature
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.1.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.10.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.2.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.3.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.4.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.5.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.6.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.7.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.8.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.9.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/CPOs_Deleted.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/CPOs_Present.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/F-704.feature
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.1.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.2.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.3.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.4.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.5.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.6.td.json
  src/functionalTest/resources/features/common/Base_CPO_Payload_Data.td.json
  src/functionalTest/resources/features/common/Common_204_Response.td.json
  src/functionalTest/resources/features/common/Prerequisite_Create_CPO_3.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_not_created.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_not_found.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_not_updated.td.json
  src/functionalTest/resources/features/common/getCasePaymentOrder_cpo_updated.td.json
  src/functionalTest/resources/features/common/response/Base_CPO_GET_Response_Data.td.json
  src/functionalTest/resources/features/common/response/Base_CPO_Response_Data.td.json
  src/functionalTest/resources/features/common/response/CPO_GET_Pagination_Response_No_Data.td.json
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-71

#75 CPO 39 - GET endpoint returns 404 Not Found when specified ids cannot be found
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImpl.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-75

#82 CPO-44 - List ids/case_ids not found when returning 404 Not Found
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.5.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.6.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/CPOs_Deleted.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.5.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.6.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersJpaRepository.java
  src/main/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/test/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersRepositoryImplTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-82

#74 CPO-36 - remove effective from field
  src/functionalTest/resources/features/common/Base_CPO_Payload_Data.td.json
  src/functionalTest/resources/features/common/response/Base_CPO_Response_Data.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/repository/CasePaymentOrdersAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderEntityGenerator.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/data/CasePaymentOrderEntity.java
  src/main/java/uk/gov/hmcts/reform/cpo/domain/CasePaymentOrder.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/BaseCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/CreateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/payload/UpdateCasePaymentOrderRequest.java
  src/main/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/resources/db/migration/V20210427_36__CPO-36-RemoveEffectiveFrom attribute.sql
  src/test/java/uk/gov/hmcts/reform/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/mapper/CasePaymentOrderMapperTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-74

#68 CPO-10 - Permissions whitelist
  Jenkinsfile_CNP
  charts/cpo-case-payment-orders-api/Chart.yaml
  charts/cpo-case-payment-orders-api/values.aat.template.yaml
  charts/cpo-case-payment-orders-api/values.preview.template.yaml
  charts/cpo-case-payment-orders-api/values.yaml
  cpo-docker/compose/cpo.yml
  docker-compose.yml
  src/functionalTest/resources/features/F-705/F-705.feature
  src/functionalTest/resources/features/F-705/S-705.1.td.json
  src/functionalTest/resources/features/F-705/S-705.2.td.json
  src/functionalTest/resources/features/F-705/S-705.3.td.json
  src/functionalTest/resources/features/F-705/S-705.4.td.json
  src/functionalTest/resources/features/F-705/S-705.5.td.json
  src/functionalTest/resources/features/F-705/S-705.6.td.json
  src/functionalTest/resources/features/F-705/S-705.7.td.json
  src/functionalTest/resources/features/F-705/common/Base_Case_Payment_Order.td.json
  src/functionalTest/resources/features/common/Base_CPO_Update_Payload_Data.td.json
  src/functionalTest/resources/features/common/response/CPO_201_Response.td.json
  src/functionalTest/resources/features/common/response/CPO_202_Response.td.json
  src/functionalTest/resources/features/common/response/CPO_403_Response.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/security/ServiceAuthorizationConfigIT.java
  src/main/java/uk/gov/hmcts/reform/cpo/config/GlobalSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersController.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/Permission.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/ServiceAuthorizationConfig.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/ServicePermissionInfo.java
  src/main/java/uk/gov/hmcts/reform/cpo/validators/ValidationError.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cpo/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/ServiceAuthorizationConfigTest.java
  src/test/resources/application-serviceAuthPermissions.yaml
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-68

#83 CPO-33: Implement tests for invalid auth tokens
  charts/cpo-case-payment-orders-api/values.preview.template.yaml
  cpo-docker/bin/env_variables_all.txt
  cpo-docker/compose/cpo.yml
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/F-701.feature
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.5.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.6.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.7.td.json
  src/functionalTest/resources/features/F-701 - createCasePaymentOrder/S-701.8.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/F-702.feature
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.6.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.7.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.8.td.json
  src/functionalTest/resources/features/F-702 - updateCasePaymentOrder/S-702.9.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/F-703.feature
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.11.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.12.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.13.td.json
  src/functionalTest/resources/features/F-703 - getCasePaymentOrder/S-703.14.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/F-704.feature
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.10.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.7.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.8.td.json
  src/functionalTest/resources/features/F-704 - deleteCasePaymentOrder/S-704.9.td.json
  src/functionalTest/resources/features/common/endpoint/CreateCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/DeleteCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/GetCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/endpoint/UpdateCasePaymentOrderBase.td.json
  src/functionalTest/resources/features/common/request/header/CPO_Request_Headers_Authorization_Invalid.td.json
  src/functionalTest/resources/features/common/request/header/CPO_Request_Headers_Authorization_Missing.td.json
  src/functionalTest/resources/features/common/request/header/CPO_Request_Headers_ServiceAuthorization_Invalid.td.json
  src/functionalTest/resources/features/common/request/header/CPO_Request_Headers_ServiceAuthorization_Missing.td.json
  src/functionalTest/resources/features/common/response/CPO_401_Response.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/BaseMvcAuthChecks.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerAuthChecksIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/security/ServiceAuthorizationConfigIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/CasePaymentOrderEntityGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/utils/KeyGenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/wiremock/WireMockTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/wiremock/extension/AbstractDynamicResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/wiremock/extension/ConnectionClosedTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/wiremock/extension/DynamicOAuthJwkSetResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/cpo/wiremock/extension/DynamicS2sDetailsResponseTransformer.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/wiremock-stubs/idam/oauth-jwk-set.json
  src/integrationTest/resources/wiremock-stubs/idam/openid_config.json
  src/integrationTest/resources/wiremock-stubs/s2s/details.json
  src/main/java/uk/gov/hmcts/reform/cpo/config/GlobalSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cpo/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cpo/security/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/cpo/controllers/CasePaymentOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/cpo/service/impl/CasePaymentOrdersServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:cpo, prd:cpo, rel:cpo-case-payment-orders-api-pr-83, stale
